:root {
  --bg-universo: #0b0b0b;
  --cor-primaria: #3c4987;
  --cor-texto: #ffffff;
  --cor-subtexto: #b0b0b0;
  color-scheme: dark;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth !important;
}

html,
body {
  width: 100%;
  height: 100%;
  color: var(--cor-texto);
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: var(--bg-universo);
}

body::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 10px;
}
